# GenexaHealth Case Study: Data Integration Layer for Pharmacogenomic-Guided Anticoagulant Dosing

This implements a lightweight **API client** to connect with GenexaHealth’s backend services.  
It allows data scientists to pull **genomic, clinical, lifestyle, and outcomes data** into Pandas for downstream **ML model development** and **business impact analysis**.

The client supports:
- Authentication with the GenexaHealth API
- Retrieving patient IDs
- Pulling entire tables (with batching)
- Accessing individual patient records

This forms the **data ingestion & preparation foundation** of the cross-functional project described in the case study.

In [1]:
# ------------------------------------------------------
# Import dependencies
# ------------------------------------------------------
# requests → for making HTTP requests to GenexaHealth API
# pandas → for loading JSON responses into tabular format
import requests
import pandas as pd

# ------------------------------------------------------
# API Configuration
# ------------------------------------------------------
# The API endpoint exposes patient-level clinical/genomic data.
# In production, these credentials should be managed securely
# (e.g., environment variables or secret manager).
BASE_URL = 'https://genexahealth.onrender.com/api/v1'
USERNAME = 'admin'
PASSWORD = 'admin123'

https://www.example.com/sport/q123456/update

FE ---API---> BE
FE <---API--- BE

CRUD -> Create, Read, Update & Delete
GPPD -> Get, Post, Put, Delete


header: authorization: '

{
  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhZG1pbiIsImV4cCI6MTc1ODU3Mzg2Nn0.1YNwq6M7uj4vRZBXOUbaazma0V6LIr7ViCnf9bQkiBg",
  "token_type": "bearer"
}

In [ ]:
# ------------------------------------------------------
# GenexaClient Class
# ------------------------------------------------------
# This client encapsulates all interactions with the GenexaHealth API.
# It is designed to:
#  1. Authenticate via JWT tokens
#  2. Retrieve patient IDs for downstream queries
#  3. Query tables in batch mode (supports pagination)
#  4. Fetch individual patient records
#
# Usage Example (Data Science Workflow):
#   client = GenexaClient()
#   df_clinical = client.get_full_table("clinical_data")
#   patient_records = client.get_records("genomic_data", "patient_123")
# ------------------------------------------------------

class GenexaClient:
    def __init__(self, base_url=BASE_URL, username=USERNAME, password=PASSWORD):
        """
        Initialize client by authenticating and storing access token.
        """
        self.base_url = base_url
        self.token = self._authenticate(username, password)
        self.headers = {'Authorization': f'Bearer {self.token}'}

    def _authenticate(self, username, password):
        """
        Authenticate against the API and return access token.
        """
        url = f'{self.base_url}/token'
        data = {'username': username, 'password': password} 
        resp = requests.post(url, data=data)
        resp.raise_for_status()  # Raise exception if authentication fails
        return resp.json()['access_token']

    def get_patient_ids(self):
        """
        Retrieve all available patient IDs.
        Useful for iterating through individual patient records.
        """
        url = f"{self.base_url.replace('/api/v1','')}/api/v1/patient_ids"
        resp = requests.get(url, headers=self.headers)
        resp.raise_for_status()
        return resp.json()["patient_ids"]

    def get_table(self, table: str, limit=100, offset=0) -> pd.DataFrame:
        """
        Retrieve a limited slice of a table (default = 100 records).
        Returns data as a Pandas DataFrame.
        """
        url = f'{self.base_url}/{table}/?limit={limit}&offset={offset}'
        resp = requests.get(url, headers=self.headers)
        resp.raise_for_status()
        return pd.DataFrame(resp.json())

    def get_records(self, table: str, patient_id: str) -> dict:
        """
        Retrieve all records for a specific patient from a given table.
        Returns dictionary response (or None if not found).
        """
        url = f'{self.base_url}/{table}/{patient_id}'
        resp = requests.get(url, headers=self.headers)
        if resp.status_code == 404:  # Patient not found
            return None
        resp.raise_for_status()
        return resp.json()

    def get_full_table(self, table: str, batch_size=200) -> pd.DataFrame:
        """
        Retrieve all rows from a table by batching requests.
        Returns a consolidated Pandas DataFrame.
        """
        all_data = []
        offset = 0

        while True:
            url = f"{self.base_url}/{table}/?limit={batch_size}&offset={offset}"
            resp = requests.get(url, headers=self.headers)
            resp.raise_for_status()
            batch = resp.json()

            if not batch:  # Exit loop when no more records
                break

            all_data.extend(batch)
            offset += batch_size

        return pd.DataFrame(all_data)

# How This Supports the Case Study

- **Phase 2: Data Ingestion & Preparation**  
  This client is the starting point for integrating genomic, clinical, and lifestyle data.  
  DS Team can quickly pull structured datasets into Pandas for:
  - Feature engineering (e.g., SNP encoding, INR normalization)
  - Data quality checks
  - Exploratory data analysis

- **Cross-Functional Usage**
  - **Data Science**: Input for ML model training (Random Forest, XGBoost, Deep Learning).
  - **Business Analysis**: Provides patient outcome data for KPI tracking (bleeding events, stabilization time).
  - **PMO**: Ensures data traceability and compliance (HIPAA/GDPR-ready pipelines).

In [3]:
if __name__ == '__main__':
    client = GenexaClient()

    patient_ids = client.get_patient_ids()
    print('sample patient ids:', patient_ids[:5])

    genomics_df = client.get_table('genomics')
    clinical_df = client.get_table('clinical')
    lifestyle_df = client.get_table('lifestyle')
    outcomes_df = client.get_table('outcomes')

    display(genomics_df.head())
    display(clinical_df.head())
    display(lifestyle_df.head())
    display(outcomes_df.head())

sample patient ids: ['P000001', 'P000002', 'P000003', 'P000004', 'P000005']

  Patient_ID CYP2C9 VKORC1 CYP4F2
0    P000001  *1/*3    A/G    C/C
1    P000002  *1/*1    A/G    C/C
2    P000003  *1/*1    A/G    C/T
3    P000004  *1/*2    G/G    C/T
4    P000005  *1/*1    G/G    C/T

,Patient_ID,Age,Sex,Weight_kg,Height_cm,Ethnicity,Hypertension,Diabetes,Chronic_Kidney_Disease,Heart_Failure,Amiodarone,Antibiotics,Aspirin,Statins
0,P000001,64,F,88,194,Caucasian,0,0,0,0,0,0,1,0
1,P000002,50,M,101,175,Other,1,0,0,0,0,0,0,1
2,P000003,66,F,85,162,Asian,0,0,0,0,0,0,0,1
3,P000004,58,M,83,178,African American,1,0,0,0,0,0,0,0
4,P000005,61,F,75,194,Caucasian,1,0,0,1,0,0,0,0

  Patient_ID Alcohol_Intake Smoking_Status Diet_VitK_Intake
0    P000001       Moderate     Non-smoker              Low
1    P000002       Moderate     Non-smoker              Low
2    P000003          Heavy     Non-smoker           Medium
3    P000004          Light     Non-smoker              Low
4    P000005          Light     Non-smoker             High

,Patient_ID,Final_Stable_Dose_mg,INR_Stabilization_Days,Adverse_Event,Time_in_Therapeutic_Range_Pct
0,P000001,2.4,5,None,66.8
1,P000002,3.8,8,None,72.4
2,P000003,3.1,7,None,58.0
3,P000004,5.4,6,None,77.9
4,P000005,6.6,7,None,70.6

In [4]:
genomics_df.shape

(100, 4)

In [5]:
# ------------------------------------------------------
# Example Usage of GenexaClient
# ------------------------------------------------------
# This block runs when executing the script directly.
# It retrieves and displays dataset shapes for validation.
# ------------------------------------------------------

if __name__ == '__main__':
    # Initialize authenticated client
    client = GenexaClient()

    # Step 1: Fetch sample patient IDs
    patient_ids = client.get_patient_ids()
    print('Sample patient IDs:', patient_ids[:5])

    # Step 2: Pull full datasets (batched queries under the hood)
    genomics_df = client.get_full_table('genomics')
    clinical_df = client.get_full_table('clinical')
    lifestyle_df = client.get_full_table('lifestyle')
    outcomes_df = client.get_full_table('outcomes')

    # Step 3: Quick validation — check table dimensions
    # (rows = patients/records, cols = features/attributes)
    display(genomics_df.shape)
    display(clinical_df.shape)
    display(lifestyle_df.shape)
    display(outcomes_df.shape)

Sample patient IDs: ['P000001', 'P000002', 'P000003', 'P000004', 'P000005']

(50000, 4)

(50000, 14)

(50000, 4)

(50000, 5)

In [6]:
clinical_df.head()

,Patient_ID,Age,Sex,Weight_kg,Height_cm,Ethnicity,Hypertension,Diabetes,Chronic_Kidney_Disease,Heart_Failure,Amiodarone,Antibiotics,Aspirin,Statins
0,P000001,64,F,88,194,Caucasian,0,0,0,0,0,0,1,0
1,P000002,50,M,101,175,Other,1,0,0,0,0,0,0,1
2,P000003,66,F,85,162,Asian,0,0,0,0,0,0,0,1
3,P000004,58,M,83,178,African American,1,0,0,0,0,0,0,0
4,P000005,61,F,75,194,Caucasian,1,0,0,1,0,0,0,0

In [7]:
clinical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient_ID              50000 non-null  object
 1   Age                     50000 non-null  int64
 2   Sex                     50000 non-null  object
 3   Weight_kg               50000 non-null  int64
 4   Height_cm               50000 non-null  int64
 5   Ethnicity               50000 non-null  object
 6   Hypertension            50000 non-null  int64
 7   Diabetes                50000 non-null  int64
 8   Chronic_Kidney_Disease  50000 non-null  int64
 9   Heart_Failure           50000 non-null  int64
 10  Amiodarone              50000 non-null  int64
 11  Antibiotics             50000 non-null  int64
 12  Aspirin                 50000 non-null  int64
 13  Statins                 50000 non-null  int64
dtypes: int64(11), object(3)
memory usage: 5.3+ MB

In [14]:
lifestyle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Patient_ID        50000 non-null  object
 1   Alcohol_Intake    30075 non-null  object
 2   Smoking_Status    50000 non-null  object
 3   Diet_VitK_Intake  50000 non-null  object
dtypes: object(4)
memory usage: 1.5+ MB

In [9]:
lifestyle_df.Smoking_Status.unique()

array(['Non-smoker', 'Smoker', 'Former Smoker'], dtype=object)

In [10]:
outcomes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     50000 non-null  object
 1   Final_Stable_Dose_mg           50000 non-null  float64
 2   INR_Stabilization_Days         50000 non-null  int64
 3   Adverse_Event                  8264 non-null   object
 4   Time_in_Therapeutic_Range_Pct  50000 non-null  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.9+ MB

In [11]:
outcomes_df.Adverse_Event.unique()

array([None, 'Bleeding', 'Clotting'], dtype=object)

# Step 3: Integrating Genomic, Clinical, Lifestyle, and Outcomes Data

In the case study, one major business challenge was that **datasets existed in silos**:
- Genomics (CYP2C9, VKORC1, CYP4F2 variants)  
- Clinical (demographics, comorbidities, medications)  
- Lifestyle (Vitamin K intake, alcohol, smoking)  
- Outcomes (stable dose, INR stabilization, adverse events)  

There was **no existing integration method** to combine them into a single patient-level view.

### Data Relationships
- **1:1** → Patient ↔ Genomic profile  
- **1:M** → Patient ↔ Clinical visits & lifestyle records  
- **1:1** → Patient ↔ Outcome per dosing cycle  

### Business Analyst Requirement
> *“We need a unified, patient-level dataset that combines genomic, clinical, lifestyle, and outcome data to power ML models, enable cost-benefit analysis, and demonstrate measurable clinical impact.”*

The following function merges the datasets on `Patient_ID` and performs **basic feature engineering** to prepare for downstream ML modeling.

In [12]:
# ------------------------------------------------------
# Data Integration Function
# ------------------------------------------------------
# This function merges patient-level tables into a single DataFrame.
# It applies BA requirements by:
#   1. Standardizing Patient_ID across tables
#   2. Renaming outcome fields for clarity
#   3. Joining clinical ← genomics ← lifestyle ← outcomes
#   4. Adding engineered features from clinical/genomic/lifestyle data
# ------------------------------------------------------

def merge_patient_data(clinical_df, genomics_df, lifestyle_df, outcomes_df):
    """
    Merge all four tables into a single patient-level DataFrame.
    Clinical data is used as the anchor, joined on Patient_ID.
    """

    # Ensure Patient_ID is consistent across all DataFrames
    for df in (clinical_df, genomics_df, lifestyle_df, outcomes_df):
        if "Patient_ID" in df.columns:
            df["Patient_ID"] = df["Patient_ID"].astype(str)

    # Rename outcome fields for clarity
    outcomes_df = outcomes_df.rename(
        columns={"Time_in_Therapeutic_Range_Pct": "TTR_pct"}
    )

    # Step 1: Merge in sequence → Clinical (anchor) ← Genomics ← Lifestyle ← Outcomes
    merged = clinical_df.merge(genomics_df, on="Patient_ID", how="left", suffixes=("", "_gen"))
    merged = merged.merge(lifestyle_df, on="Patient_ID", how="left", suffixes=("", "_life"))
    merged = merged.merge(outcomes_df, on="Patient_ID", how="left", suffixes=("", "_out"))

    # ------------------------------------------------------
    # Feature Engineering (aligns with pharmacogenomic guidelines)
    # ------------------------------------------------------

    # Encode CYP2C9 poor metabolizers
    if "CYP2C9" in merged.columns:
        merged["CYP2C9_pcyp3"] = merged["CYP2C9"].isin(["*3/*3", "*2/*3", "*1/*3"]).astype(int)

    # VKORC1 high sensitivity variant
    if "VKORC1" in merged.columns:
        merged["VKORC1_AA"] = (merged["VKORC1"] == "A/A").astype(int)

    # Medication interaction → Amiodarone
    if "Amiodarone" in merged.columns:
        merged["On_Amiodarone"] = merged["Amiodarone"].fillna(0).astype(int)

    # Lifestyle: alcohol intake mapped to ordinal score
    if "Alcohol_Intake" in merged.columns:
        alcohol_map = {"None": 0, "Light": 1, "Moderate": 2, "Heavy": 3, None: 0}
        merged["Alcohol_Score"] = merged["Alcohol_Intake"].map(alcohol_map).fillna(0).astype(int)

    # Lifestyle: Vitamin K intake mapped to ordinal score
    if "Diet_VitK_Intake" in merged.columns:
        vitk_map = {"Low": 0, "Medium": 1, "High": 2}
        merged["VitK_Score"] = merged["Diet_VitK_Intake"].map(vitk_map).fillna(1).astype(int)

    # Clinical: Normalize numeric fields (e.g., weight, age)
    for col in ["Weight_kg", "Age"]:
        if col in merged.columns:
            merged[col] = pd.to_numeric(merged[col], errors="coerce")
            merged[col].fillna(merged[col].median(), inplace=True)

    # Outcomes: Ensure numeric formatting for stability metrics
    for col in ["Final_Stable_Dose_mg", "INR_Stabilization_Days", "TTR_pct"]:
        if col in merged.columns:
            merged[col] = pd.to_numeric(merged[col], errors="coerce")

    return merged

In [13]:
# ------------------------------------------------------
# Example Run: Merging Patient Data
# ------------------------------------------------------
# Here we call the merge function, inspect dataset shape,
# preview first rows, and save to CSV for downstream analysis.
# ------------------------------------------------------

if __name__ == "__main__":
    merged_df = merge_patient_data(clinical_df, genomics_df, lifestyle_df, outcomes_df)
    
    print("Merged dataset shape:", merged_df.shape)
    print(merged_df.head())

    # Save integrated dataset for modeling / business analysis
    merged_df.to_csv("merged_patients.csv", index=False)
    print("Merged data saved to merged_patients.csv")

Merged dataset shape: (50000, 29)
  Patient_ID  Age Sex  Weight_kg  Height_cm         Ethnicity  Hypertension  \
0    P000001   64   F         88        194         Caucasian             0
1    P000002   50   M        101        175             Other             1
2    P000003   66   F         85        162             Asian             0
3    P000004   58   M         83        178  African American             1
4    P000005   61   F         75        194         Caucasian             1

   Diabetes  Chronic_Kidney_Disease  Heart_Failure  ...  Diet_VitK_Intake  \
0         0                       0              0  ...               Low
1         0                       0              0  ...               Low
2         0                       0              0  ...            Medium
3         0                       0              0  ...               Low
4         0                       0              1  ...              High

   Final_Stable_Dose_mg  INR_Stabilization_Days  Adverse_Event TTR_pct  \
0                   2.4                       5           None    66.8
1                   3.8                       8           None    72.4
2                   3.1                       7           None    58.0
3                   5.4                       6           None    77.9
4                   6.6                       7           None    70.6

  CYP2C9_pcyp3 VKORC1_AA On_Amiodarone Alcohol_Score VitK_Score
0            1         0             0             2          0
1            0         0             0             2          0
2            0         0             0             3          1
3            0         0             0             1          0
4            0         0             0             1          2

[5 rows x 29 columns]
Merged data saved to merged_patients.csv

/var/folders/50/x0xddh3j6b58c69qjzhqxw5w0000gn/T/ipykernel_15836/2994263488.py:63: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)
/var/folders/50/x0xddh3j6b58c69qjzhqxw5w0000gn/T/ipykernel_15836/2994263488.py:63: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged[col].fillna(merged[col].median(), inplace=True)

In [15]:
merged_df.head()

,Patient_ID,Age,Sex,Weight_kg,Height_cm,Ethnicity,Hypertension,Diabetes,Chronic_Kidney_Disease,Heart_Failure,...,Diet_VitK_Intake,Final_Stable_Dose_mg,INR_Stabilization_Days,Adverse_Event,TTR_pct,CYP2C9_pcyp3,VKORC1_AA,On_Amiodarone,Alcohol_Score,VitK_Score
0,P000001,64,F,88,194,Caucasian,0,0,0,0,...,Low,2.4,5,None,66.8,1,0,0,2,0
1,P000002,50,M,101,175,Other,1,0,0,0,...,Low,3.8,8,None,72.4,0,0,0,2,0
2,P000003,66,F,85,162,Asian,0,0,0,0,...,Medium,3.1,7,None,58.0,0,0,0,3,1
3,P000004,58,M,83,178,African American,1,0,0,0,...,Low,5.4,6,None,77.9,0,0,0,1,0
4,P000005,61,F,75,194,Caucasian,1,0,0,1,...,High,6.6,7,None,70.6,0,0,0,1,2

# Why This Matters (Business & Clinical Impact)

- **Data Science**: Enables multimodal feature inputs (genomic + clinical + lifestyle).  
- **Business Analysis**: Supports KPIs (e.g., reduction in bleeding events, faster INR stabilization).  
- **Project Management (PMO)**: Ensures data lineage & integration traceability for compliance.  

This step bridges the **data silos** and creates the foundation for **Warfarin dosing ML models** and **cost-benefit analysis for hospitals/insurers**.